<h1>Hello World, My Friend!</h1>
<p>Why do you do?</p>
<ul>
	{{#videos}}
		<li>{{name}}</li>
	{{/videos}}
	<form action="/new-video" method="post">
		<input type="text" name="name">
		<button type="submit">Submit</button>
	</form>
</ul>